#jumbo {
    margin-top: 5em;
}

.scd-part {
    margin-top: 5em;
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
    top: 62%;
}

.icon-scroll {
    width: 20px;
    height: 35px;
    margin-left: -20px;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #60697b;
    border-radius: 12.5px;
}

.icon-scroll:before {
    content: '';
    width: 6px;
    height: 6px;
    background: #60697b;
    margin-left: -3px;
    top: 8px;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
}

.fire-background {
    background-image: url(../img/background/BackgroundFireGradient.png);
}

.fire-gradient {
    background-image: linear-gradient(to right, rgb(37, 94, 125) 0%, rgb(49, 126, 160) 18%,
    rgb(70, 71, 114) 40%, rgb(126, 67, 102) 62%, rgb(231, 104, 90) 81%, rgb(238,
    107, 85) 90%, rgb(246, 168,
    80) 100%);
    background-image: -moz-linear-gradient(to right, rgb(37, 94, 125) 0%, rgb(49,
    126, 160) 18%, rgb(70, 71, 114) 40%, rgb(126, 67, 102) 62%, rgb(231, 104, 90) 81%,
    rgb(238, 107, 85) 90%, rgb(246, 168,
    80) 100%);
    background-image: -webkit-gradient(linear, to right, left bottom,
    color-stop(0.000, rgb(37, 94, 125)), color-stop(0.183, rgb(49, 126, 160)),
    color-stop(0.403, rgb(70, 71, 114)), color-stop(0.621, rgb(126, 67, 102)),
    color-stop(0.812, rgb(231, 104, 90)), color-stop(0.900, rgb(238, 107, 85)),
    color-stop(1.000, rgb(246, 168, 80)));

}

.purple-gradient {
    background-image: linear-gradient(45deg, #ff6ec4 0%, #7873f5 99%, #7873f5 100%);
}

.blue-gradient {
    background-image: linear-gradient(45deg, #45cafc 0%, #303f9f 99%, #303f9f 100%);
}

.peach-gradient {
    background-image: linear-gradient(45deg, #ffd86f 0%, #fc6262 99%, #fc6262 100%);
}

.lady-lips-gradient {
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

.sunny-morning-gradient {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.rainy-ashville-gradient {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.aqua-gradient {
    background-image: linear-gradient(to right, #2096ff 0%, #05ffa3 100%);
}

.near-moon-gradient {
    background-image: linear-gradient(120deg, #5ee7df 0%, #b490ca 100%);
}

.juicy-peach-gradient {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.young-passion-gradient {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.lady-lips-gradient {
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

.sunny-morning-gradient {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.rainy-ashville-gradient {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.frozen-dreams-gradient {
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.warm-flame-gradient {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.night-fade-gradient {
    background-image: linear-gradient(120deg, #a18cd1 0%, #fbc2eb 100%);
}

.spring-warmth-gradient {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.winter-neva-gradient {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.dusty-grass-gradient {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.tempting-azure-gradient {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.heavy-rain-gradient {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.amy-crisp-gradient {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.mean-fruit-gradient {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.deep-blue-gradient {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.ripe-malinka-gradient {
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.cloudy-knoxville-gradient {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.morpheus-den-gradient {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.rare-wind-gradient {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
